<h1>Hola primer proyecto</h1>
<h2>{{ welcome }}</h2>
<ul>
  <li *ngFor="let task of tasks()">
    {{ task }}
  </li>
</ul>
<hr />
<h2>{{ "Wenas".repeat(4) }}</h2>
<p>Mi nombre es {{ name() }}</p>
<hr />
<img [src]="person.avatar" alt="" />
<input type="number" [value]="person.age" />
<p>Hola! {{ person.name }}</p>
<button [disabled]="disabledBtn">Click me</button>
<hr />
<button (click)="clickHandler()">Click me??</button>
<hr />
<h1>Signals!!</h1>
<input type="text" [value]="name()" (change)="changeHandler($event)" />
<hr />
<h1>Directivas de control</h1>
<ul>
  <p>Total: {{ tasks().length }}</p>
  <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
</ul>
